.signup-login-container{
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #f5f6fa;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}
.app-title{
    text-align: center;
}
.input-button-container{
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

.signup-login-btn{
    padding: 1.2em 2.6em;
    margin-top:2rem;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}
.info-text{
    text-align: right;
    letter-spacing: 1px;
    margin-top:2.5rem;
}